<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear Cuenta</a>
            <a href="/reestablecer-password">Olvidé mi password</a>
        </div>
        <div class="campo">
            <input type="submit" value="Login" class="btn btn-azul">
        </div>
    </form>
</main>