<div class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label>Nueva contraseña</label>
            <input type="password" name="password" placeholder="Introduce tu nueva contraseña">
        </div>
        <div class="campo">
            <input type="submit" value="Guardar nueva contraseña" class="btn btn-azul">
        </div>
    </form>
</div>