<div class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Introduce tu email, para restrablecer">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion" class="btn">Volver a inicio sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer" class="btn btn-azul">
        </div>
    </form>
</div>