<h1 style="text-align:center; 
    font-family: Arial, Helvetica;
">Confirmar Cuenta</h1>

<p style="font-family: Arial, Helvetica;">Hola, recientemente te haz registrado en nuestra plataforma, haz click en el
    siguiente
    enlace, para activar tu cuenta..</p>

<a style="
    display:block; 
    font-family: Arial, Helvetica;
    padding: 1rem; 
    background-color: #00C897; 
    color:white; 
    text-transform:uppercase; 
    text-align:center;
    text-decoration: none;" href="{{validarCuenta}}">Confirmar cuenta</a>

<p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: <br>
    <span style="
    background-color:black;
    color:white,
    padding:1.5rem
    ">{{validarCuenta}}
    </span>
</p>