<h1 style="text-align:center; 
    font-family: Arial, Helvetica;
">Confirma tu cuenta</h1>

<p style="font-family: Arial, Helvetica;">Hola, vemos que te haz registrado en nuestra cuenta, pero existe un ultimo paso,
    debes confirmar tu cuenta para activarla, te dejamos un enlace para que puedas activarla.
</p>

<a style="
    display:block; 
    font-family: Arial, Helvetica;
    padding: 1rem; 
    background-color: #00C897; 
    color:white; 
    text-transform:uppercase; 
    text-align:center;
    text-decoration: none;" href="{{validarCUenta}}">Confirmar cuenta</a>

<p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: <br>
    <span style="
    background-color:black;
    color:white
    ">{{validarCUenta}}
    </span>
</p>
<p style="font-family: Arial, Helvetica;">Si no eres tu quien se ha registrado, olvida este email</p>